@charset "UTF-8";

html, body {
  margin: 0;
}

body {
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
}

#main {
  height: 100%;
}

#header {
  background-color: #eee;
  padding: 6px;
}

#main-container {
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 14px;
}

#word-list {
  background-color: #fff;
  flex: 0 0 500px;
  padding: 6px;
  height: 500px;
  overflow-y: auto;
}

#sentence-list {
  background-color: #fff;
  flex: 1 0 300px;
  padding: 6px;
  overflow-y: auto;
}

.list-header {
  color: #888;
  font-size: 160%;
}

.word-editing {
}

.word {
  display: flex;
  flex-direction: row;
  min-height: 1em;
}
.word:hover {
  background-color: #eee;
}

.word-surface {
  flex: 1 0 50px;
}

.word-feature {
  flex: 1 0 150px;
}

.word-cost {
  flex: 0 0 50px;
}

.sentence {
  min-height: 1em;
}

.sentence:hover {
  background-color: #eee;
}

input[type="text"] {
  box-shadow: 1px 1px 0px 0px #999 inset;
  border: none;
  padding: 3px;
  background-color: rgba(255, 255, 255, 0.5);
}

input[type="bottan"], button, .button {
  background-color: #eee;
  display: inline-block;
  border: none;
  color: #666;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.25);
  padding: 2px 6px 3px;
  box-sizing: border-box;
  letter-spacing: normal;
  word-spacing: normal;
  font: 11px BlinkMacSystemFont;
  align-items: flex-start;
  text-align: center;
}

input[type="bottan"]:disabled, button:disabled {
  background-color: #bbb;
}

input[type="bottan"]:active, button:active, .button:active {
  background-color: #fff;
}